<form method="post" enctype="multipart/form-data" action="myform.pl">

Enter survey data: <input type="text" name="survey" size="40"/> <br />

Enter mouse data: <input type="file" name="mouse" size="30"/> <br />

Enter curve data: <input type="file" name="curve" size="30"/> <br />

Enter user id: <input type="text" name="id" size="30" /> <br />

Enter magic: <input type="text" name="magic" size="30" /> <br />

<input type="submit" value="send" name="submit" /> <br />

</form>
